<%# -----------いいね機能----------------- %>
  <% if post.favorited_by?(current_user) %>
  <div class="text-right ">
    <%= link_to post_favorites_path(post.id),method: :delete,remote:true do %>
    Favorite<i class="fas fa-star fav-icon"></i>
    <% end %>
  </div>
  <% else %>
  <div class="text-right">
    <%= link_to post_favorites_path(post.id),method: :post,remote:true do %>
    Favorite<i class="far fa-star fav-icon"></i>
    <% end %>
  </div>
<% end %>

