<%#= render "layouts/header_nav" %>
<div class="container justify-item-center">

  <% if @favorites.empty? %>
      <h2 class="text-center">お気に入り登録がありません</h2>
    <% else %>
      <% @favorites.each do |post| %>
      <%= render "posts/user-post",post: post.post %>
      <% end %>
  <% end %>

</div>


<style>
.row {
  margin-right:50px;
  margin-left:-650px;
  padding:50px;
}

</style>




