<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center">
      <% if @user == User.guest %>
        <div>
          <h1 class=mt-5>ゲストアカウントは削除できません。</h1>
        </div>
        <div>
          <%= link_to '編集画面に戻る',edit_user_path(@user.id),class:'btn btn-info mt-5' %>
        </div>
      <% else %>
        <div>
          <h1 class=mt-5>本当に退会しますか？</h1>
        </div>
        
        <div>
        <%= link_to '退会しない',edit_user_path(@user.id),class:'btn btn-info mt-5' %>
        </div>
        <div>
        <%= link_to "退会する", users_withdraw_path(@user.id), method: :put, class:"btn btn-danger mt-5" %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>

