<div class="container">
 <div class="row justify-content-center">
  <div class="col">
    <div class="thanks-text text-center">
      <h1>お問い合わせありがとうございます。</h1>
      <p>近日中にご回答いたします。</p>

<%= link_to 'タイムラインに戻る', posts_path,class:'btn btn-info ' %>
    </div>
  </div>
 </div>
</div>



