<%= @contact.contact_name %> 様 から問い合わせがありました。<br>
【Mail】：<%= @contact.contact_email %><br>
【用件】：<%= @contact.contact_subject %><br>
【お問い合わせ内容】<br>
<span style="white-space: pre-wrap;"><%= @contact.contact_message %></span>