<div class="container">
  <div class="row bg-info">

<%# --右側吹き出し--  %> 
  <div class="col">
    <div class="d-flex justify-content-end">
      <div class="right-pop">
        <p>リファレンスとは、</p>
        <p>あなたの迷いに対して</p>
        <p>ちょっとだけ手助けするSNSです</p> 
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
<%# -- [fin]右側吹き出し --%>

<%# --右側吹き出し--  %> 
  <div class="col">
    <div class="d-flex justify-content-end">
      <div class="right-pop">
        <h3 class="m-3">たとえば…</h3>
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
<%# -- [fin]右側吹き出し --%>

<%# --右側吹き出し--  %> 
  <div class="col">
    <div class="d-flex justify-content-start">
      <div class="left-pop">
        <h3 class="m-3">たとえば…</h3>
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
<%# -- [fin]右側吹き出し --%>

<%# --右側吹き出し--  %> 
  <div class="col">
    <div class="d-flex justify-content-start">
      <div class="left-pop">
        <h3 class="m-3">たとえば…</h3>
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
<%# -- [fin]右側吹き出し --%>



  </div>
</div>

