<div class="container">
 <div class="row">
  <div class="col">
    <div class="mx-auto" style="width: auto;">
      <div class="text-center">
        <div class="top-title">
          <h1 class='display-4' </h1>
             <p>あなたの悩みに対して</p>
            <p>ちょっとだけ手助けをします</p>
            <%= link_to "新規登録",about_path,class:'btn btn-primary btn-lg mt-5 w-50' %> 
          <%= link_to "ログイン",user_session_path,class:'btn btn-primary btn-lg mt-5 w-50' %> 
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "login" %>
           
         </div>
        </div>
      </div>




  <h3>作成者：柳谷海</h3>
  生年月日:1993/05/19
  出身：東京都
  趣味：スキューバダイビング


  経歴
  城西大学
  城西大学卒業

  東京特殊印刷工業株式会社　入社
  宇都宮営業所配属　&　海外支援チームに所属
  2017年ー2019年まで営業成績を記録
  （日本を代表する大手建機、医療、産業、家電メーカーを担当）
  顧客に対して、印刷技術やを織り込んだ具体的に提案を評価され
  2019　約3年間社内成績5位以内という営業成績を記録
  VBAを使用した社内管理ツールを開発し、大幅な作業改善を実現したことを理由
  社内表彰を受ける
  
  VBAなど感銘を
  本格的にプログラマーを組んでみたい
  
  との思いから退社　

  現在に至る。

　（スキルセット）
HTML・CSS
Ruby & rails
JavaScript（Jquery）
AWS()
linax
git (チーム開発経験済み)
Python　
VBA　（前職で在庫表などの帳票自動化ツールを作成）
Photoshop、lightroom


制作環境
OS:MA
ローカル　VSコード　&　AWS
コード管理　GITHUB
テスト　Rspec



<link rel="stylesheet" href="">





  
  </div>
 </div>
</div>