
<%= render "layouts/header_nav" %>

<div class="container profile">
 <div class="row">
  <div class="col-4 fixed text-center mt-5">
    <div class="profile-image">
    <%= image_tag 'about_car.jpeg',class:"my-profile"%>
    </div>
    <h2 class="my-name" >柳谷　海</h2>
    <p>YANAGIYA UMI</p>
    <p>生年月日:1993/05/19(28歳)</p>
    <p>出身：東京都</p>
    <p>趣味：スキューバダイビング</p>
    <%= link_to 'https://github.com/yanagiya-umi/for_Reference' do %>
    <i class="fab fa-github"></i>git hub
    <% end %>
  </div>
  

  <div class="col scrollit ">
    <div class="profile-body">
      <h4>経歴</h4>
        <table>
            <tbody>
            <tr>
              <th>2012.03</th>
              <td>東京都立大島海洋国際高校 卒業</td>

            </tr>
            <tr>
              <th>2012.04</th>
              <td>城西大学　経営学部　マネジメント総合経営学科　入学</td>
            </tr>
            <tr>
              <th>2016.03</th>
              <td>城西大学　経営学部　マネジメント総合経営学科　卒業</td>
            </tr>
            <tr>
              <th>2016.04</th>
              <td>東京特殊印刷工業株式会社　入社</td>
            </tr>
            <tr>
              <th>2021.08</th>
              <td>東京特殊印刷工業株式会社　退社</td>
            </tr>
        </tbody>
        </table>
        <h4 class="mt-5">概要</h4>
        1993年東京生まれ。城西大学在学中に国際会計学を中心に経営学を履修
        2016年から東京特殊印刷工業㈱に営業として入社。
        宇都宮営業所配属　&　海外支援チームに所属し
        国内では日本を代表する大手建機、医療、産業、家電メーカーを顧客を担当した。
        海外支援では、東南アジア（タイ、ベトナム）の展示会出展業務支援を担当
        最新の印刷技術を織り込んだ具体的な製品仕様提案を評価され、
        営業成績は約3期連続で5位以内（約40人中）を記録

        VBAを使用した在庫表等の社内管理ツールを開発し、業務の大幅な作業改善を実現したことを理由
        社内表彰を受ける。


        <h4 class="mt-5">エンジニアを目指す理由</h4>
        VBAを使用した自動帳票やシステムの補足プログラムなど前職で作成していく中で、
        <ul class='mt-3'>
          <li>VBAだけでなく、この分野で自分自身ができることをもっと増やしたい。</li>
          <li>自身が作成したプログラムが問題解決するなどに貢献できた時に、営業よりも達成感を感じた。</li>
          <li>インプットしたスキルや技術が、人のためにアウトプットできることの楽しさを感じた。</li>
        </ul>
        　などの上記理由からITエンジニアを目指す。
      </div>
      <div class="skil-set">
        <h4 class="mt-5">スキルセット</h4>
          <div class="row">
            <div class="col">
                <table>
                  <tbody class='text-center'>
                    <tr>
                      <th><i class="fab fa-html5"></i><p>HTML・CSS</p></th>
                      <td>☆2</td>
                    </tr>
                    <tr>
                      <th><i class="fas fa-gem"></i>
                      <p>Ruby & Rails</p></th>
                      <td>☆2</td>
                    </tr>

                    <tr>
                      <th><i class="fab fa-js-square"></i>
                      <p>JavaScript（Jquery）</p>
                      </th>
                      <td>☆2</td>
                    </tr>


                  </tbody>
                </table>
            </div>

            <div class="col"> 
              <table>
                <tbody class='text-center'>
                  <tr>
                    <th><i class="fab fa-linux"></i>
                      <p>linux</p>
                    </th>
                    <td>☆3</td>
                  </tr>

                  <tr>
                    <th><i class="fab fa-python"></i></i>
                      <p>python</p>
                    </th>
                    <td>☆3</td>
                  </tr>
                  <tr>
                    <th><i class="fab fa-git-square"></i></i>
                      <p>git & github </p>
                    </th>
                    <td>☆3</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<style>

.profile i {
  font-size:50px;
}


</style>