
<%= render "layouts/header_nav" %>

<div class="container">
 <div class="row">
  <div class="col-4 text-center mt-5">
    <div class="profile-image">
    <%= image_tag 'about_car.jpeg',class:"my-profile"%>
    </div>
    <h2 class="my-name" >柳谷　海</h2>
    <p>YANAGIYA UMI</p>
    <p>生年月日:1993/05/19(28歳)</p>
    <p>出身：東京都</p>
    <p>趣味：スキューバダイビング</p>
    <%= link_to 'https://github.com/yanagiya-umi/for_Reference' do %>
    <i class="fab fa-github"></i>git hub
    <% end %>
  </div>
  

  <div class="col">
  <div class="profile-body">
    <h4>経歴</h4>
      <table>
          <tbody>
          <tr>
            <th>2012.03</th>
            <td>東京都立大島海洋国際高校 卒業</td>
            
          </tr>
          <tr>
            <th>2012.04</th>
            <td>城西大学　経営学部　マネジメント総合経営学科　入学</td>
          </tr>
          <tr>
            <th>2016.03</th>
            <td>城西大学　経営学部　マネジメント総合経営学科　卒業</td>
          </tr>
          <tr>
            <th>2016.04</th>
            <td>株式会社東京特殊印刷工業株式会社　入社</td>
          </tr>
          <tr>
            <th>2021.08</th>
            <td>株式会社東京特殊印刷工業株式会社　退社</td>
          </tr>
      </tbody>
      </table>
      <h4 class="mt-5">概要</h4>
      1993年東京生まれ。城西大学在学中に国際会計学を中心に経営学を履修
      2016年から東京特殊印刷工業㈱に営業として入社。
      宇都宮営業所配属　&　海外支援チームに所属し
      国内では日本を代表する大手建機、医療、産業、家電メーカーを顧客を担当
      海外支援では、東南アジア（タイ、ベトナム）の展示会出展業務支援を担当
      
      印刷技術やを織り込んだ具体的に提案を評価され、営業成績は約3期連続で社内成績5位以内を記録

      VBAを使用した在庫表等の社内管理ツールを開発し、業務の大幅な作業改善を実現したことを理由
      社内表彰を受ける。

    </div>
    <div class="skil-set">
    <h4 class="mt-5">スキルセット</h4>
        <table>
          <tbody>
            <tr>
              <th><i class="fab fa-html5"></i>HTML・CSS</th>
              <td>☆2</td>
            </tr>
            <tr>
              <th>Ruby & rails</th>
              <td>☆2</td>
            </tr>

            <tr>
              <th>JavaScript（Jquery）</th>
              <td></td>
            </tr>
            
            <tr>
            <th>linax</th>
            <td>☆3</td>
            </tr>
            <tr></tr>






          </tbody>
        </table>
    
    </div>

　（スキルセット）
HTML・CSS
Ruby & rails
JavaScript（Jquery）
AWS()
linax
git (チーム開発経験済み)
Python　
VBA　（前職で在庫表などの帳票自動化ツールを作成）
Photoshop、lightroom


制作環境
OS:MA
ローカル　VSコード　&　AWS
コード管理　GITHUB
テスト　Rspec




  </div>
        </div>
      </div>


<style>

</style>