<div class="container-fluid">
<div class="image-top"></div>
  <div class="row">
    <div class="col">
      <div class="mx-auto">
        <div class="d-flex flex-row text-center">
          <div class="top-title">
           <h1>for_Refalence</h1>
             <p>あなたの悩みに対して</p>
            <p>ちょっとだけ手助けをします</p>
            <div><%= link_to "新規登録",about_path,class:'btn btn-primary btn-lg mt-5 w-50' %> </div>
          <div><%= link_to "ログイン",user_session_path,class:'btn btn-primary btn-lg mt-1 w-50' %> </div>
          <div><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:'btn btn-primary btn-lg mt-3 w-70' %></div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

