h1 {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 150px;
}

/* 右側　*/
.right-pop {
  position: relative;
  display: inline-block;
  margin: 1.5em 150px 1.5em 0;
  padding: 15px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.right-pop:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}

.right-pop p {
  margin: 0;
  padding: 0;
}

/* 左側　*/
.left-pop {
  position: relative;
  display: inline-block;
  margin: 1.5em 0px 1.5em 150px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.left-pop :before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.left-pop p {
  margin: 0;
  padding: 0;
}