
/* about-右側　*/
.right-pop {
  position: relative;
  display: inline-block;
  margin: 5vh 5vw 5vh 5vw;
  padding: 15px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #b6ebb6;
  border-radius: 15px;
}

.right-pop:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #b6ebb6;
}




/* about-右（最初）*/
.right-pop-first {
  position: relative;
  display: inline-block;
  margin: 30vh 5vw ;
  padding: 50px 60px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #b6ebb6;
  border-radius: 15px;
}

.right-pop-first :before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #b6ebb6;
}





/* about-左側　*/
.left-pop {
  position: relative;
  display: inline-block;
  margin: 5vh 5vw 5vh 5vw;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.left-pop :before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

/* about-左側　*/
.left-pop-end {
  position: relative;
  display: inline-block;
  margin: 5vh 5vw 40vh 5vw;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.left-pop-end :before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}