
.posts {

  /*-----全体---------*/ 
  body {
    background-color:#17a2b8;
  }

  .timeline-title {
    font-family : 'Times New Roman', Times, serif;
    font-size: 50px;
    color:white;
    margin-top: 20px;
  }

  /*------ index-新規投稿-左側---------　*/
  .post-new-icon {
    font-size:30px;
    padding:5px;
  }

  .post-user-icon {
    padding:5px;
    font-size:30px;
  }

  .post-ranking-icon {
    font-size:30px;
    padding:5px;
  }

  .post-favorite-icon {
    font-size:30px;
    padding:5px;
  }
  
  .new-post-leftpop {
    position: relative;
    margin: 7vh 15vw 5vh 15vw;
    padding: 20px 50px;
    color: #555;
    font-size: 16px;
    background: #ffffff;
    border-radius: 15px;
    width: 600px;
  }

  .new-post-leftpop:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #ffffff;
  }

  .post-left h3 {
    overflow-wrap: break-word;
  }


  /*----------index-右側--------*/
  .balloon_light{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: #555;
    background-color: rgb(182, 235, 182);
    margin-right: 200px;          /* 右に余白を設ける */
    margin-left: 50%;
  }
  .balloon_light .icon{
    position: absolute;
    right: -200px;
    top: 0;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
  }
  .balloon_light::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: -15px;
    top: 20px;
    border-left: 15px solid rgb(182, 235, 182);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .balloon_light .post_user_image {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      object-fit: cover;
  }
  .comment-icon{
    color:#007bff;
  }

  .post_score_right{
    text-align: end;
    top: -90px;
    left: -52%;
    position: relative;
  }

  /*----------index-左側--------*/
  .balloon_left{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: #555;
    background-color: #e0edff;
    margin-left: 200px;          /* 左に余白を設ける */
  }
  .balloon_left .icon{
    position: absolute;
    left: -155px;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .balloon_left::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -15px;
    top: 20px;
    border-right: 15px solid #e0edff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .balloon_left .post_user_image {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      object-fit: cover;
  }
  .comment-icon{
    color:#007bff;
  }

  .post_score_left{
      top: -90px;
      right: -100%;
      position: relative;
}




  /* ----------post_show------------------ */

  /* show-右側 */
  .show-balloon_light{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: #555;
    background-color: rgb(182, 235, 182);
    margin-left: 10px;          /* 右に余白を設ける */
  }
  .show-balloon_light .icon{
    position: absolute;
    right: -200px;
    top: 0;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
  }
  .show-balloon_light::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: -15px;
    top: 20px;
    border-left: 15px solid rgb(182, 235, 182);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .show-balloon_light .post_user_image {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      object-fit: cover;
  }

  /*----show-左側-------*/ 
  .show-balloon_left{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: #555;
    background-color: #e0edff;
    margin-left: 120px;          /* 左に余白を設ける */
  }
  .show-balloon_left .icon{
    position: absolute;
    left: -150px;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .show-balloon_left::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -15px;
    top: 20px;
    border-right: 15px solid #e0edff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .show-balloon_left .post_user_image {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      object-fit: cover;
  }
  .comment-icon{
    color:#007bff;
  }


  /* ----------post-edit----------*/
  #post-preview {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }

  /* ----------post-ranking------------------ */
  .table th, .table td {
    padding-top: 3.75rem;
  }
  
  .tag-header {
    text-align: center;
  }
  
  h3 {
    text-align: center
  }
  
  h1.ranking-title.mt-5{
  color:#b2c93c;
  }

}