
/* ------searchs_search--- */
.search {

  tbody {
    justify-content: center;
    align-items: center;

  }

  img {

      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      object-fit: cover;
  }


  .user{
    display: inline-block;
    margin:0 auto;
    vertical-align: middle;
}

  .post {
    height: 30px;
  }

}