/* ------user_show--- */

  /* 吹き出し本体 */
  .balloon_left{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: #555;
    background-color: #e0edff;
    margin-top: 20px;          /* 左に余白を設ける */
    margin-right: 20px;  
  }
  /* 画像 - 絶対配置で左上に配置 */
  .balloon_left .icon{
    position: absolute;
    left: -620px;
    top: 20px;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* 三角アイコン */
  .balloon_left::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -15px;
    top: 20px;
    border-right: 15px solid #e0edff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .user_photo {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      object-fit: cover;
      margin: 0 auto ;
  }

  
/* ------user_edit--- */

 .user_photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

