<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%#　ーーーーーエラーメッセージフォーマットーーー
  * form_withに追加

 <%= render 'layouts/error_msg', model: f.object %>

